<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ezeshop.internal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".InternalApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/agent_app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ActionsActivity"
            android:label="Home"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".RegisterMerchantActivity"
            android:label="@string/title_activity_register_merchant"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="in.ezeshop.appbase.SingleWebViewActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="in.ezeshop.merchantbase.CashbackActivity"
            android:label="CashbackActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="in.ezeshop.merchantbase.TxnReportsActivity"
            android:label="Transactions"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="in.ezeshop.appbase.barcodeReader.BarcodeCaptureActivity"
            android:label="Read Barcode"
            android:screenOrientation="portrait"/>


        <activity
            android:name="in.ezeshop.customerbase.CashbackActivityCust"
            android:label="CashbackActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="in.ezeshop.customerbase.TxnReportsCustActivity"
            android:label="Transactions"
            android:screenOrientation="portrait">
        </activity>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ff31ec54d8344eb7441145b5161d18520f44eb48" />
    </application>

</manifest>
