<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ezeshop.customer"
    android:versionCode="2"
    android:versionName="17.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permissions for push messaging -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="in.ezeshop.customer.permission.C2D_MESSAGE"/>
    <permission android:name="in.ezeshop.customer.permission.C2D_MESSAGE" android:protectionLevel="signature"/>

    <supports-screens
        android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/customer_app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">

        <!--receiver android:name="com.backendless.push.BackendlessBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="in.ezeshop.customer"/>
            </intent-filter>
        </receiver>
        <service android:name="com.backendless.push.BackendlessPushService" /-->

        <receiver android:name="in.ezeshop.appbase.utilities.MsgPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="in.ezeshop.appbase.utilities"/>
            </intent-filter>
        </receiver>
        <service android:name="in.ezeshop.appbase.utilities.MsgPushService" />

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard|screenLayout"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="in.ezeshop.customerbase.LoginCustActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="in.ezeshop.customerbase.CashbackActivityCust2"
            android:label="CashbackActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="in.ezeshop.customerbase.TxnReportsCustActivity"
            android:label="Transactions"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="in.ezeshop.appbase.SingleWebViewActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="in.ezeshop.appbase.ImageViewActivity"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ff31ec54d8344eb7441145b5161d18520f44eb48" />
    </application>

</manifest>
