<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ezeshop.merchant"
    android:versionCode="2"
    android:versionName="17.1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>

    <application
        android:name=".MerchantApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/merchant_app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard|screenLayout"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="in.ezeshop.merchantbase.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="in.ezeshop.appbase.SingleWebViewActivity"
            android:label="@string/title_activity_terms_conditions"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="in.ezeshop.merchantbase.CashbackActivity"
            android:label="CashbackActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="in.ezeshop.merchantbase.TxnReportsActivity"
            android:label="Transactions"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="in.ezeshop.appbase.barcodeReader.BarcodeCaptureActivity"
            android:label="Read Barcode"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.helpshift.support.activities.ParentActivity"
            android:theme="@style/Helpshift.Theme.Activity"
            android:screenOrientation="portrait"/>

        <activity
            android:name="in.ezeshop.merchantbase.HelpActivity"
            android:theme="@style/Helpshift.Theme.Activity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ff31ec54d8344eb7441145b5161d18520f44eb48" />
    </application>

</manifest>
